<!-- notification.component.html -->
<div *ngIf="visible" [class]="getNotificationClass()"
     [style.position]="'fixed'" [style.z-index]="'9999'"
     [style.top]="getPositionStyle().top"
     [style.left]="getPositionStyle().left"
     [style.right]="getPositionStyle().right">
  <div class="notification-inner">
    <div class="notification-icon" *ngIf="icon">
      <i [class]="icon"></i>
    </div>
    <div class="notification-content">
      <span class="notification-title" *ngIf="title">{{ title }}</span>
      <p class="notification-message">{{ msg }}</p>
    </div>
    <div class="notification-close" (click)="close()">
      <i class="bi bi-x"></i>
    </div>
  </div>
</div>
